/compileClient.bat
/compileMulti.bat
/compileServer.bat
/compileSL.bat
/compileTime.bat
/compileUnit3.bat
/compileUnit4.bat
/start.bat
/startMulti.bat
/startSLTest.bat
/startTimeTest.bat
/startUnit3.bat
/startUnit4.bat
